## EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [5]:
resident_data = pd.read_csv('G:/내 드라이브/ESC-22FALL/빅콘테스트/Data/1.ev_app_resident.csv', encoding='utf-8')
resident_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292043 entries, 0 to 292042
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_dt     292043 non-null  int64
 1   dow         292043 non-null  int64
 2   ccw_cd      292043 non-null  int64
 3   ccw_nm      292043 non-null  object
 4   adng_cd     292043 non-null  int64
 5   adng_nm     292043 non-null  object
 6   cell_id     292043 non-null  int64
 7   cell_xcrd   292043 non-null  float64
 8   cell_ycrd   292043 non-null  float64
 9   gender      292043 non-null  object
 10  age         292043 non-null  int64
 11  app_web     292043 non-null  object
 12  time_zone   292043 non-null  int64
 13  count_cust  292043 non-null  float64
dtypes: float64(3), int64(7), object(4)
memory usage: 31.2+ MB

In [6]:
resident_data.describe()

,base_dt,dow,ccw_cd,adng_cd,cell_id,cell_xcrd,cell_ycrd,age,time_zone,count_cust
count,2.920430e+05,292043.000000,292043.0,2.920430e+05,2.920430e+05,292043.000000,292043.000000,292043.000000,292043.000000,292043.000000
mean,2.022062e+07,3.910503,4146.0,4.146370e+07,8.560274e+07,127.133481,37.283523,9.238503,3.684409,6.570716
std,8.706172e+00,1.900620,0.0,1.559666e+03,1.611870e+06,0.056916,0.042515,2.935400,1.421540,4.424778
min,2.022060e+07,1.000000,4146.0,4.146125e+07,8.274341e+07,127.032210,37.087600,1.000000,1.000000,3.011000
25%,2.022061e+07,2.000000,4146.0,4.146351e+07,8.443909e+07,127.092210,37.258533,7.000000,3.000000,3.802000
50%,2.022062e+07,4.000000,4146.0,4.146357e+07,8.509495e+07,127.115350,37.284970,9.000000,4.000000,4.535000
75%,2.022062e+07,5.000000,4146.0,4.146553e+07,8.637495e+07,127.160500,37.318108,11.000000,5.000000,8.098000
max,2.022063e+07,7.000000,4146.0,4.146559e+07,9.383021e+07,127.423720,37.370174,14.000000,6.000000,177.332000